name: ci-unittests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

permissions:
  checks: write
  contents: read

jobs:
  build_javabase_api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build and test with Maven
        run: |
          mvn -pl javabase-api --batch-mode --update-snapshots integration-test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          report_paths: 'arc-api/**/*-reports/TEST-*.xml'
          fail_on_failure: true
          detailed_summary: true

  build_javabase_streams:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build and test with Maven
        run: |
          mvn -pl javabase-streams --batch-mode --update-snapshots integration-test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          report_paths: 'arc-streams/**/*-reports/TEST-*.xml'
          fail_on_failure: true
          detailed_summary: true

